
%h2 New user
%form{method: 'POST', action: '/a/users'}
  .row
    .columns.large-6
      %label{for: 'username'} Username 
      %input{type: 'text', name: 'username', id: 'username'}
    .columns.large-6
      %label{for: 'password'} Password
      %input{type: 'password', name: 'password', id: 'password'}
  .row
    .columns.large-6
      %label{for: 'home'} Home
      %input{type: 'text', name: 'home', id: 'home', placeholder: 'Be careful...'}
    .columns.large-6
      %input{type: 'checkbox', id: 'admin', name: 'admin', value: 1}
      %label{for: 'admin'} Admin
      %input{type: 'checkbox', id: 'readonly', name: 'readonly', value: 1}
      %label{for: 'readonly'} Readonly
      %input{type: 'hidden', name: 'key', value: 1}
  .row
    .columns.large-3.large-offset-9
      %input.button.expand{type: 'submit', value: 'Create'}

