!!! 5
%head
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  %title Explorer
  %base{href: app_root}
  %link{rel: 'stylesheet', href: app_root + 'dist/app.min.css'}
  %link{rel: 'icon', type: 'image/png', href: app_root + 'favicon-32x32.png', sizes: '32x32'}
  %link{rel: 'icon', type: 'image/png', href: app_root + 'favicon-16x16.png', sizes: '16x16'}
  %script{type: 'text/javascript'}!= configuration
  :javascript
    // Fixes undefined module function in SystemJS bundle
    function module() {}

  %script{type: 'text/javascript', src: app_root + 'dist/explorer.js'}

  :javascript
    //delete button confirm box
    var confirmDeletion = function(e) {
      return confirm('Are you sure?')
    }
    
    //checkbox to check every checkbox
    var checkAll = function(event) {
      var checkboxes = document.getElementById('tree').querySelectorAll('input[type="checkbox"]')
      for(var i in checkboxes) {
        checkboxes[i].checked = event.currentTarget.checked 
      }
    }

%body
  %explorer-app.off-canvas-wrapper
