<div [ngClass]="{'is-off-canvas-open': open.left || open.right, 'is-open-left': open.left, 'is-open-right': open.right}" class="off-canvas-wrapper-inner">
  <div [ngClass]="{'is-open': open.left}" [hidden]='!open.left' class="off-canvas position-left">
    <explorer-menu [open]='open' *ngIf='!token.expired()'>
    </explorer-menu>
  </div>
  <explorer-notifications [ngClass]="{'is-open': open.right}" [hidden]='!open.right' class="off-canvas position-right">
  </explorer-notifications>
  <div (click)='close($event)' class="off-canvas-content">
    <explorer-messages>
    </explorer-messages>
    <nav class="title-bar hide-for-medium">
      <div class="title-bar-left">
        <button>
          <i (click)='open.left = !open.left' class="menu-icon">menu</i>
        </button>
      </div>
      <div class="title-bar-right">
        <a [routerLink]="['Tree', {path: '/'}]" class="title-bar-title">
          Explorer
          <i class="icon-home">
          </i>
        </a>
      </div>
    </nav>
    <nav class="top-bar show-for-medium">
      <section class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">
            <a [routerLink]="['Tree', {path: '/'}]">
              Explorer 
              <i class="icon-home">
              </i>
            </a>
          </li>
        </ul>
      </section>
      <section *ngIf='!token.expired()' class="top-bar-right">
        <explorer-menu [open]='open'>
        </explorer-menu>
      </section>
    </nav>
    <router-outlet>
    </router-outlet>
    <footer class="text-center">
      <small>
        by soyuka with ♣ - 
        <a href='https://github.com/soyuka/explorer'>Github</a>
      </small>
    </footer>
  </div>
</div>