<ul *ngIf="messages.hasMessages()" id="messages">
  <li *ngFor="#error of messages.errors" (click)='messages.removeError(error)' class="callout alert">
    <span *ngIf="!(error.error | isArray)">{{error.error}}</span>
    <ol *ngIf="error.error | isArray">
      <li *ngFor="#message of error.error">
        {{message}}
      </li>
    </ol>
  </li>
  <li *ngFor="#info of messages.infos" class="callout success">
    {{info.info}}
    <a aria_hidden (click)='messages.removeInfo(info)'>
      &times;
    </a>
  </li>
</ul>