<div class="expanded row">
  <form *ngIf='tree' [ngFormModel]='treeForm' class="large-12 columns">
    <div class="row expanded align-right">
      <div class="columns large-5 small-12">
        <div class="input-group">
          <input type='search' ngControl='search' class="input-group-field" />
          <div class="input-group-button">
            <input type='submit' value='Search' class="button" />
            <input type='hidden' name='path' ngControl='path' />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns small-12 medium-6">
        <div class="row">
          <div class="columns small-2 medium-2 large-1">
            <label for='sort' class="middle">Sort</label>
          </div>
          <div class="columns small-4 medium-4 large-3">
            <select name='sort' id='sort' ngControl='sort' [ngModel]='options.sort'>
              <option *ngFor='#o of sortOptions' [value]='o'>{{o}}</option>
            </select>
          </div>
          <div class="columns row">
            <div class="columns medium-expand large-3">
              <input type='radio' id='order_asc' name='order' value='asc' (click)='setOrderValue("asc")' [checked]='options.order == "asc"' ngControl='order' />
              <label for='order_asc' class="text-left middle">Asc</label>
            </div>
            <div class="columns medium-expand large-3">
              <input type='radio' id='order_desc' name='order' value='desc' (click)='setOrderValue("desc")' [checked]='options.order == "desc"' ngControl='order' />
              <label for='order_desc' class="text-left middle">Desc</label>
            </div>
          </div>
        </div>
      </div>
      <div class="columns small-12 medium-6">
        <div class="row">
          <div class="columns row">
            <div class="columns small-2 medium-2 large-1">
              <label for='limit' class="middle">Limit</label>
            </div>
            <div class="columns small-4 medium-4 large-3">
              <input type='number' id='limit' name='limit' ngControl='limit' [ngModel]='options.limit' value='10' />
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="breadcrumbs">
      <li *ngFor='#bc of breadcrumb'>
        <a (click)='navigate({path: bc.path})'>{{bc.name}}</a>
      </li>
    </ul>
    <above-hooks [tree]='tree' [options]='options'>
    </above-hooks>
    <form method='POST' action='/api/tree' id="tree-form">
      <table id="tree">
        <thead>
          <tr>
            <th>
              <input type='checkbox' onclick='checkAll(event)' />
            </th>
            <th>Name</th>
            <th class="hide-for-small-only">Last Modification</th>
            <th class="hide-for-small-only">Last Access</th>
            <th class="hide-for-small-only">Size</th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='#element of tree | async | get:"tree"'>
            <td>
              <input type='checkbox' [attr.value]='element.path' name='path' (change)='checkElement($event)' />
            </td>
            <td>
              <a *ngIf='element.directory' (click)='navigate({path: element.path})'>
                <i class="icon-folder">
                </i>
                {{element.name}}
              </a>
              <span *ngIf='!element.directory'>
                <a href='/download?path={{element.path}}&key={{user.key}}' target='_blank'>
                  <i class='icon-file-{{element.type}}'>
                  </i>
                  {{element.name}}
                </a>
                <a *ngIf='options.search' (click)="navigate(element.dirname)">
                  <i title='Jump to directory' class="icon-folder float-right">
                  </i>
                </a>
              </span>
            </td>
            <td class="hide-for-small-only">{{element.lastModified}}</td>
            <td class="hide-for-small-only">{{element.lastAccessed}}</td>
            <td class="hide-for-small-only">{{element.humanSize}}</td>
            <td>
              <a *ngIf='options.canRemove'>
                <i class="icon-trash">
                </i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row expanded">
        <div class="columns small-12 large-7">
          <action-hooks [tree]='tree' [paths]='paths'>
          </action-hooks>
        </div>
        <div class="columns small-12 large-5 text-right">
          <p>
            {{options.num}}
            <span *ngIf='options.num > 1'>
              results
            </span>
            <span *ngIf='options.num == 1'>
              result
            </span>
            ({{options.size}})
          </p>
        </div>
      </div>
    </form>
    <input type='hidden' ngControl='page' />
    <ul class="pagination text-center">
      <li *ngIf='options.page == 1' class="pagination-previous disabled">
        Previous
      </li>
      <li *ngIf='options.page > 1' class="pagination-previous">
        <a (click)='navigate({page: options.page - 1})'>
          Previous
        </a>
      </li>
      <li *ngFor='#i of pages' [class.current]='options.page == i'>
        <span *ngIf='options.page == i'>
          {{i}}
        </span>
        <a *ngIf='options.page != i' (click)='navigate({page: i})'>
          {{i}}
        </a>
      </li>
      <li *ngIf='options.page < options.pages' class="pagination-next">
        <a (click)='navigate({page: options.page + 1})'>Next</a>
      </li>
      <li *ngIf='options.page == options.pages' class="pagination-next disabled">
        Next
      </li>
    </ul>
  </form>
</div>