.row
  .large-12.columns
    %h2 Settings
    %form{method: 'POST', action: '/settings'}
      .row
        .columns.medium-6
          %label
            Username 
            %input.disabled{type: 'text', disabled: true, value: user.username}
          %input{type: 'hidden', name: 'username', value: user.username}
        .columns.medium-6
          %label{for: 'password'} 
            Password
            %input{type: 'password', name: 'password', id: 'password', placeholder: 'Leave empty if you dont\'t want to change it'}
      .row
        .columns
          %input{type: 'checkbox', id: 'key', name: 'key', value: 1}
          %label{for: 'key'} Generate new key (previous links will be unreachable)
        .columns.shrink
          %input{type: 'hidden', name: '_method', value: 'put'}
          %input.button.expanded{type: 'submit', value: 'Update'}

      .row
        .columns.large-12
          %label.key
            Your key:  
            %pre= user.key

    - if(canRemove && remove.method == 'mv' && user.trash)
      %form{method: 'post', action: '/trash'}.right
        %input.button.warning{type: 'submit', value: 'Empty trash (' + trashSize + ')', onclick: 'return confirmDeletion(event)'}
