@import "settings";
@import 'foundation/components/clearing';
@import 'foundation/components/inline-lists';
@import 'foundation/components/type';
@import 'foundation/components/grid';
@import 'foundation/components/breadcrumbs';
@import 'foundation/components/buttons';
@import 'foundation/components/forms';
@import 'foundation/components/pagination';
@import 'foundation/components/tables';
@import 'foundation/components/top-bar';
@import 'foundation/components/visibility';
@import 'foundation/components/alert-boxes.scss';

body {
}

.small {
  font-size: 0.87rem;
}

.container {
  padding-top: 20px;
}

table {
  width: 100%;

  td input[type="checkbox"] {
    margin: 0.80rem 0;    
  }

}

table.admin {
    tr:nth-of-type(even) {
        background-color: transparent !important;
    }

    tr.border-bottom {
        border-bottom: 1px solid $gainsboro;
    }

    td.border-left {
        border-left: 1px solid $gainsboro;
    }

    td.border-right {
        border-right: 1px solid $gainsboro;
    }

    tr.header {
        background: $table-even-row-bg !important; 
        font-weight: bold;
    }
} 

.columns > .postfix {
  padding: 0;
}

label.key {
  display: inline-block;
  margin-left: .5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;

  pre {
    display: inline;  
  }

}

small > label {
    font-size: inherit;
}

.login-box {
  color: #333;
  background: url('../login.png') no-repeat;
  background-size: contain;
  margin: 100px 0;
  padding: 130px 20px 40px 20px;

  input {
    border:0; 
  }

  form {
    margin: 0;
  }

  .button.expand {
    margin-bottom: 0; 
    background: #8EB2C5;
  }

}
