@import "settings";
@import 'foundation/components/clearing';
@import 'foundation/components/inline-lists';
@import 'foundation/components/type';
@import 'foundation/components/grid';
@import 'foundation/components/breadcrumbs';
@import 'foundation/components/buttons';
@import 'foundation/components/button-groups';
@import 'foundation/components/forms';
@import 'foundation/components/pagination';
@import 'foundation/components/tables';
@import 'foundation/components/top-bar';
@import 'foundation/components/sub-nav';
@import 'foundation/components/visibility';
@import 'foundation/components/alert-boxes';
@import 'foundation/components/labels';

body {
}

.small {
  font-size: 0.87rem;
}

.container {
  padding-top: 20px;
}

table {
  width: 100%;

  td input[type="checkbox"] {
    margin: 0.80rem 0;    
  }

}

table.admin {
    tr:nth-of-type(even) {
        background-color: transparent !important;
    }

    tr.border-bottom {
        border-bottom: 1px solid $gainsboro;
    }

    td.border-left {
        border-left: 1px solid $gainsboro;
    }

    td.border-right {
        border-right: 1px solid $gainsboro;
    }

    tr.header {
        background: $table-even-row-bg !important; 
        font-weight: bold;
    }
} 

.columns > .postfix {
  padding: 0;
}

label.key {
  display: inline-block;
  margin-left: .5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;

  pre {
    display: inline;  
  }

}

small > label {
    font-size: inherit;
}

img.logo {
    vertical-align: -4px;
    padding-right: 10px;
}

.login-box {
  margin: 20px auto;

  form {
    margin: 0 auto;
    width: 95%;
  }

  button {
    margin-bottom: 0; 
    background: transparent;
    color: #333;

    &:hover:before, &:focus:before, &:active:before {
        content: '\e80e';
    } 
  }
}

#options {
     @include crumb-container;

     select, label, input, button {
        margin-bottom: 0; 
     }
}

@media screen and (min-width: 1024px) {
    .row {
        max-width: 93.5rem;
    }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#notifications {
    position: fixed;
    top: 54px;
    right: 10px;
    z-index: 2;

    li {
        list-style-type: none;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.8s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}
