.off-canvas-wrapper-inner{"[ngClass]": "{'is-off-canvas-open': open.left || open.right, 'is-open-left': open.left, 'is-open-right': open.right}"}
  %div.off-canvas.position-left{"[ngClass]": "{'is-open': open.left}", "[hidden]": '!open.left'}
    %explorer-menu{'[open]': 'open', "*ngIf": '!token.expired()'}
  %explorer-notifications.off-canvas.position-right{"[ngClass]": "{'is-open': open.right}", "[hidden]": '!open.right'}
  .off-canvas-content{'(click)': 'close($event)'}
    %explorer-messages
    %nav.title-bar.hide-for-medium
      .title-bar-left
        -# open canvas
        %button
          %i.menu-icon{"(click)": 'open.left = !open.left'} menu
      .title-bar-right
        %a.title-bar-title{"[routerLink]": "['Tree', {path: '/'}]"}
          Explorer
          %i.icon-home
    %nav.top-bar.show-for-medium
      %section.top-bar-left
        %ul.menu
          %li.menu-text
            %a{"[routerLink]": "['Tree', {path: '/'}]"}
              Explorer 
              %i.icon-home
      %section.top-bar-right{"*ngIf": '!token.expired()'}
        %explorer-menu{'[open]': 'open'}
    %router-outlet
    %footer.text-center
      %small
        by soyuka with ♣ - 
        %a{href: 'https://github.com/soyuka/explorer'} Github
