%ul#messages{"*ngIf": "messages.hasMessages()"}
  %li.callout.alert{"*ngFor": "#error of messages.errors", '(click)': 'messages.removeError(error)'}
    %span{*ngIf: "!(error.error | isArray)"} {{error.error}}
    %ol{*ngIf: "error.error | isArray"}
      %li{*ngFor: "#message of error.error"}
        {{message}}
  %li.callout.success{"*ngFor": "#info of messages.infos"}
    {{info.info}}
    %a{aria_hidden: true, '(click)': 'messages.removeInfo(info)'}
      &times;
