%ul.vertical.menu
  %li
    %form.right{action: '/notifications', method: 'POST'}
      %input.expanded.button.warning{type: 'submit', value: 'Remove notifications'}
      %input{type: 'hidden', name: '_method', value: 'DELETE'}

  %li{'*ngFor': '#notification of notifications'}
    %div.callout{'[ngClass]': '{alert: notification.error, primary: !notification.error, success: notification.success}'}
      %span 
        {{notification.message}}
      %div.text-right
        %i {{notification.fromNow}} ({{notification.type}})
