{{options|json}}
<div class='row'>
  <div class='columns small-12 medium-6'>
    <div class='row'>
      <div class='columns small-2 medium-2 large-1'>
        <label class='middle' for='sort'>Sort</label>
      </div>
      <div class='columns small-4 medium-4 large-3'>
        <select [(ngModel)]='options.sort' id='sort' name='sort'>
          <option *ngFor='#o of sortOptions' [value]='o'>{{o}}</option>
        </select>
      </div>
      <div class='columns row'>
        <div class='columns medium-expand large-3'>
          <input (click)='options.order = "asc"' [checked]='options.order == "asc"' id='order_asc' name='order' type='radio' value='asc'>
          <label class='text-left middle' for='order_asc'>Asc</label>
        </div>
        <div class='columns medium-expand large-3'>
          <input (click)='options.order = "desc"' [checked]='options.order == "desc"' id='order_desc' name='order' type='radio' value='desc'>
          <label class='text-left middle' for='order_desc'>Desc</label>
        </div>
      </div>
    </div>
  </div>
  <div class='columns small-12 medium-6'>
    <div class='row'>
      <div class='columns row'>
        <div class='columns small-2 medium-2 large-1'>
          <label class='middle' for='limit'>Limit</label>
        </div>
        <div class='columns small-4 medium-4 large-3'>
          <input [(ngModel)]='options.limit' id='limit' name='limit' type='number'>
        </div>
      </div>
    </div>
  </div>
</div>
