%form.row{method: 'POST', action: '/p/move?path=' + path}
  .small-12.large-8.columns
    %select{multiple: true, name: 'path'}
      - each p in paths
        %option{value: p.method + '-' + p.path}= p.path +' ('+p.method+')'
  .small-12.large-4.columns
    %button.postfix{type: 'submit', style: 'margin-bottom: 10px'} Paste here
    %a.button.secondary.postfix{href: '/p/move/clean'} Clean clipboard
